[submodule "FITK_Component/FITKWidget"]
	path = FITK_Component/FITKWidget
	url = https://atomgit.com/fastcaecodebase/FITKWidget.git
[submodule "FITK_Component/FITKGeoCompOCC"]
	path = FITK_Component/FITKGeoCompOCC
	url = https://atomgit.com/fastcaecodebase/FITKGeoCompOCC.git
[submodule "FITK_Component/FITKRenderWindowVTK"]
	path = FITK_Component/FITKRenderWindowVTK
	url = https://atomgit.com/fastcaecodebase/FITKRenderWindowVTK.git
[submodule "FITK_Component/FITKFluidVTKGraphAdaptor"]
	path = FITK_Component/FITKFluidVTKGraphAdaptor
	url = https://atomgit.com/fastcaecodebase/FITKFluidVTKGraphAdaptor.git
[submodule "FITK_Component/FITKOCCGraphAdaptor"]
	path = FITK_Component/FITKOCCGraphAdaptor
	url = https://atomgit.com/fastcaecodebase/FITKOCCGraphAdaptor.git
[submodule "FITK_Component/FITKCompMessageWidget"]
	path = FITK_Component/FITKCompMessageWidget
	url = https://atomgit.com/fastcaecodebase/FITKCompMessageWidget.git
[submodule "FITK_Component/FITKPlotWindow"]
	path = FITK_Component/FITKPlotWindow
	url = https://atomgit.com/fastcaecodebase/FITKPlotWindow.git
[submodule "FITK_Component/FITKOFDriver"]
	path = FITK_Component/FITKOFDriver
	url = https://atomgit.com/fastcaecodebase/FITKOFDriver.git
[submodule "FITK_Component/FITKOFMeshIO"]
	path = FITK_Component/FITKOFMeshIO
	url = https://atomgit.com/fastcaecodebase/FITKOFMeshIO.git
[submodule "FITK_Component/FITKOFDictWriter"]
	path = FITK_Component/FITKOFDictWriter
	url = https://atomgit.com/fastcaecodebase/FITKOFDictWriter.git
[submodule "FITK_Component/FITKFlowOFIOHDF5"]
	path = FITK_Component/FITKFlowOFIOHDF5
	url = https://atomgit.com/fastcaecodebase/FITKFlowOFIOHDF5.git
[submodule "FITK_Component/FITKMeshGenOF"]
	path = FITK_Component/FITKMeshGenOF
	url = https://atomgit.com/fastcaecodebase/FITKMeshGenOF.git
[submodule "FITK_Component/FITKRenderWindowOCC"]
	path = FITK_Component/FITKRenderWindowOCC
	url = https://atomgit.com/fastcaecodebase/FITKRenderWindowOCC.git
[submodule "FITK_Component/FITKGeoOCCIOHDF5"]
	path = FITK_Component/FITKGeoOCCIOHDF5
	url = https://atomgit.com/fastcaecodebase/FITKGeoOCCIOHDF5.git
[submodule "FITK_Interface/FITKInterfaceIO"]
	path = FITK_Interface/FITKInterfaceIO
	url = https://atomgit.com/fastcaecodebase/FITKInterfaceIO.git
[submodule "FITK_Interface/FITKInterfaceModel"]
	path = FITK_Interface/FITKInterfaceModel
	url = https://atomgit.com/fastcaecodebase/FITKInterfaceModel.git
[submodule "FITK_Interface/FITKInterfaceCFDPost"]
	path = FITK_Interface/FITKInterfaceCFDPost
	url = https://atomgit.com/fastcaecodebase/FITKInterfaceCFDPost.git
[submodule "FITK_Interface/FITKInterfaceGeometry"]
	path = FITK_Interface/FITKInterfaceGeometry
	url = https://atomgit.com/fastcaecodebase/FITKInterfaceGeometry.git
[submodule "FITK_Interface/FITKInterfaceGeoIOHDF5"]
	path = FITK_Interface/FITKInterfaceGeoIOHDF5
	url = https://atomgit.com/fastcaecodebase/FITKInterfaceGeoIOHDF5.git
[submodule "FITK_Interface/FITKInterfaceMeshGen"]
	path = FITK_Interface/FITKInterfaceMeshGen
	url = https://atomgit.com/fastcaecodebase/FITKInterfaceMeshGen.git
[submodule "FITK_Interface/FITKInterfaceFlowOF"]
	path = FITK_Interface/FITKInterfaceFlowOF
	url = https://atomgit.com/fastcaecodebase/FITKInterfaceFlowOF.git
[submodule "FITK_Interface/FITKVTKAlgorithm"]
	path = FITK_Interface/FITKVTKAlgorithm
	url = https://atomgit.com/fastcaecodebase/FITKVTKAlgorithm.git
[submodule "FITK_Interface/FITKInterfaceIOHDF5"]
	path = FITK_Interface/FITKInterfaceIOHDF5
	url = https://atomgit.com/fastcaecodebase/FITKInterfaceIOHDF5.git
[submodule "FITK_Interface/FITKInterfaceMesh"]
	path = FITK_Interface/FITKInterfaceMesh
	url = https://atomgit.com/fastcaecodebase/FITKInterfaceMesh.git
[submodule "FITK_Interface/FITKInterfacePhysics"]
	path = FITK_Interface/FITKInterfacePhysics
	url = https://atomgit.com/fastcaecodebase/FITKInterfacePhysics.git
[submodule "FITK_Kernel/FITKPython"]
	path = FITK_Kernel/FITKPython
	url = https://atomgit.com/fastcaecodebase/FITKPython.git
[submodule "FITK_Kernel/FITKCore"]
	path = FITK_Kernel/FITKCore
	url = https://atomgit.com/fastcaecodebase/FITKCore.git
[submodule "FITK_Kernel/FITKAppFramework"]
	path = FITK_Kernel/FITKAppFramework
	url = https://atomgit.com/fastcaecodebase/FITKAppFramework.git
[submodule "FITK_Kernel/FITKEasyParam"]
	path = FITK_Kernel/FITKEasyParam
	url = https://atomgit.com/fastcaecodebase/FITKEasyParam.git
[submodule "FITK_Kernel/FITKAdaptor"]
	path = FITK_Kernel/FITKAdaptor
	url = https://atomgit.com/fastcaecodebase/FITKAdaptor.git
[submodule "FITK_Interface/FITKInterfaceFlowPHengLEI"]
	path = FITK_Interface/FITKInterfaceFlowPHengLEI
	url = https://atomgit.com/fastcaecodebase/FITKInterfaceFlowPHengLEI.git
[submodule "FITK_Component/FITKCGNSIO"]
	path = FITK_Component/FITKCGNSIO
	url = https://atomgit.com/fastcaecodebase/FITKCGNSIO.git
[submodule "FITK_Apps/APPFlow"]
	path = FITK_Apps/APPFlow
	url = https://atomgit.com/fastcaecodebase/APPFlow.git
[submodule "FITK_Apps/APPGeomOCC"]
	path = FITK_Apps/APPGeomOCC
	url = https://atomgit.com/fastcaecodebase/APPCADOCC.git
[submodule "FITK_Apps/APPCFDPost"]
	path = FITK_Apps/APPCFDPost
	url = https://atomgit.com/fastcaecodebase/APPCFDPost.git
[submodule "FITK_Apps/AppFlowPHengLEI"]
	path = FITK_Apps/AppFlowPHengLEI
	url = https://atomgit.com/fastcaecodebase/AppFlowPHengLEI.git
[submodule "FITK_Apps/APPRadioss"]
	path = FITK_Apps/APPRadioss
	url = https://gitcode.com/fastcaecodebase/APPRadioss.git
[submodule "FITK_Component/FITKAbaqusData"]
	path = FITK_Component/FITKAbaqusData
	url = https://gitcode.com/fastcaecodebase/FITKAbaqusData.git
[submodule "FITK_Component/FITKAbaqusRadiossDataMapper"]
	path = FITK_Component/FITKAbaqusRadiossDataMapper
	url = https://gitcode.com/fastcaecodebase/FITKAbaqusRadiossDataMapper.git
[submodule "FITK_Component/FITKGmshExeDriver"]
	path = FITK_Component/FITKGmshExeDriver
	url = https://gitcode.com/fastcaecodebase/FITKGmshExeDriver.git
[submodule "FITK_Component/FITKGmshMshIO"]
	path = FITK_Component/FITKGmshMshIO
	url = https://gitcode.com/fastcaecodebase/FITKGmshMshIO.git
[submodule "FITK_Component/FITKNastranBDFIO"]
	path = FITK_Component/FITKNastranBDFIO
	url = https://gitcode.com/fastcaecodebase/FITKNastranBDFIO.git
[submodule "FITK_Component/FITKRadiossData"]
	path = FITK_Component/FITKRadiossData
	url = https://gitcode.com/fastcaecodebase/FITKRadiossData.git
[submodule "FITK_Component/FITKRadiossDataIOHDF5"]
	path = FITK_Component/FITKRadiossDataIOHDF5
	url = https://gitcode.com/fastcaecodebase/FITKRadiossDataIOHDF5.git
[submodule "FITK_Component/FITKRadiossLSDynaTransfer"]
	path = FITK_Component/FITKRadiossLSDynaTransfer
	url = https://gitcode.com/fastcaecodebase/FITKRadiossLSDynaTransfer.git
[submodule "FITK_Component/FITKRadiossRadIO"]
	path = FITK_Component/FITKRadiossRadIO
	url = https://gitcode.com/fastcaecodebase/FITKRadiossRadIO.git
[submodule "FITK_Interface/FITKInterfaceStructural"]
	path = FITK_Interface/FITKInterfaceStructural
	url = https://gitcode.com/fastcaecodebase/FITKInterfaceStructural.git
[submodule "FITK_Interface/FITKInterfaceStructuralPost"]
	path = FITK_Interface/FITKInterfaceStructuralPost
	url = https://gitcode.com/fastcaecodebase/FITKInterfaceStructuralPost.git
[submodule "FITK_Component/FITKAIAssistant"]
	path = FITK_Component/FITKAIAssistant
	url = https://atomgit.com/fastcaecodebase/FITKAIAssistant.git
[submodule "FITK_Component/FITKHttpPythonDriver"]
	path = FITK_Component/FITKHttpPythonDriver
	url = https://atomgit.com/fastcaecodebase/FITKHttpPythonDriver.git
