[submodule "Tools"]
	path = Tools
	url = https://atomgit.com/fastcaecodebase/Tools.git
[submodule "FITK_Kernel/FITKCore"]
	path = FITK_Kernel/FITKCore
	url = https://atomgit.com/fastcaecodebase/FITKCore.git
[submodule "FITK_Kernel/FITKAppFramework"]
	path = FITK_Kernel/FITKAppFramework
	url = https://atomgit.com/fastcaecodebase/FITKAppFramework.git
[submodule "FITK_Kernel/FITKAdaptor"]
	path = FITK_Kernel/FITKAdaptor
	url = https://atomgit.com/fastcaecodebase/FITKAdaptor.git
[submodule "FITK_Kernel/FITKPython"]
	path = FITK_Kernel/FITKPython
	url = https://atomgit.com/fastcaecodebase/FITKPython.git
[submodule "FITK_Interface/FITKInterfaceFlowOF"]
	path = FITK_Interface/FITKInterfaceFlowOF
	url = https://atomgit.com/fastcaecodebase/FITKInterfaceFlowOF.git
[submodule "FITK_Interface/FITKInterfaceGeometry"]
	path = FITK_Interface/FITKInterfaceGeometry
	url = https://atomgit.com/fastcaecodebase/FITKInterfaceGeometry.git
[submodule "FITK_Interface/FITKInterfaceModel"]
	path = FITK_Interface/FITKInterfaceModel
	url = https://atomgit.com/fastcaecodebase/FITKInterfaceModel.git
[submodule "FITK_Interface/FITKInterfaceIO"]
	path = FITK_Interface/FITKInterfaceIO
	url = https://atomgit.com/fastcaecodebase/FITKInterfaceIO.git
[submodule "FITK_Interface/FITKInterfaceMesh"]
	path = FITK_Interface/FITKInterfaceMesh
	url = https://atomgit.com/fastcaecodebase/FITKInterfaceMesh.git
[submodule "FITK_Interface/FITKInterfaceMeshGen"]
	path = FITK_Interface/FITKInterfaceMeshGen
	url = https://atomgit.com/fastcaecodebase/FITKInterfaceMeshGen.git
[submodule "FITK_Interface/FITKInterfacePhysics"]
	path = FITK_Interface/FITKInterfacePhysics
	url = https://atomgit.com/fastcaecodebase/FITKInterfacePhysics.git
[submodule "FITK_Interface/FITKVTKAlgorithm"]
	path = FITK_Interface/FITKVTKAlgorithm
	url = https://atomgit.com/fastcaecodebase/FITKVTKAlgorithm.git
[submodule "FITK_Component/FITKGeoCompOCC"]
	path = FITK_Component/FITKGeoCompOCC
	url = https://atomgit.com/fastcaecodebase/FITKGeoCompOCC.git
[submodule "FITK_Component/FITKRenderWindowVTK"]
	path = FITK_Component/FITKRenderWindowVTK
	url = https://atomgit.com/fastcaecodebase/FITKRenderWindowVTK.git
[submodule "FITK_Component/FITKWidget"]
	path = FITK_Component/FITKWidget
	url = https://atomgit.com/fastcaecodebase/FITKWidget.git
[submodule "FITK_Component/FITKCompMessageWidget"]
	path = FITK_Component/FITKCompMessageWidget
	url = https://atomgit.com/fastcaecodebase/FITKCompMessageWidget.git
[submodule "FITK_Component/FITKMeshGenOF"]
	path = FITK_Component/FITKMeshGenOF
	url = https://atomgit.com/fastcaecodebase/FITKMeshGenOF.git
[submodule "FITK_Component/FITKOFDictWriter"]
	path = FITK_Component/FITKOFDictWriter
	url = https://atomgit.com/fastcaecodebase/FITKOFDictWriter.git
[submodule "FITK_Component/FITKOFDriver"]
	path = FITK_Component/FITKOFDriver
	url = https://atomgit.com/fastcaecodebase/FITKOFDriver.git
[submodule "FITK_Component/FITKOFMeshIO"]
	path = FITK_Component/FITKOFMeshIO
	url = https://atomgit.com/fastcaecodebase/FITKOFMeshIO.git
[submodule "FITK_Interface/FITKInterfaceIOHDF5"]
	path = FITK_Interface/FITKInterfaceIOHDF5
	url = https://atomgit.com/fastcaecodebase/FITKInterfaceIOHDF5.git
[submodule "FITK_Component/FITKFluidVTKGraphAdaptor"]
	path = FITK_Component/FITKFluidVTKGraphAdaptor
	url = https://atomgit.com/fastcaecodebase/FITKFluidVTKGraphAdaptor.git
[submodule "FITK_Kernel/FITKEasyParam"]
	path = FITK_Kernel/FITKEasyParam
	url = https://atomgit.com/fastcaecodebase/FITKEasyParam.git
[submodule "FITK_Component/FITKFlowOFIOHDF5"]
	path = FITK_Component/FITKFlowOFIOHDF5
	url = https://atomgit.com/fastcaecodebase/FITKFlowOFIOHDF5.git
[submodule "FITK_Interface/FITKInterfaceGeoIOHDF5"]
	path = FITK_Interface/FITKInterfaceGeoIOHDF5
	url = https://atomgit.com/fastcaecodebase/FITKInterfaceGeoIOHDF5.git
[submodule "FITK_Component/FITKGeoOCCIOHDF5"]
	path = FITK_Component/FITKGeoOCCIOHDF5
	url = https://atomgit.com/fastcaecodebase/FITKGeoOCCIOHDF5.git
